<div class="card card--recommendation">
  <h3 class="text-center">Recommendations</h3>
  <hr>
  <% if recommendations.any? %>
    <% recommendations.each_with_index do |recommendation, index| %>
      <div class="card--item row">
        <div class="col-xs-3">
          <%= image_tag recommendation.book.cover.url(:medium), class: "img-responsive center-block" %>
        </div>
        <div class="col-xs-9">
          <h3><%= link_to recommendation.book.title.titleize, book_path(recommendation.book) %></h3>
          <p>
            by
            <%= recommendation.book.author.titleize %>
          </p>
          <p>
            <%= recommendation.user.username %> said:
          </p>
          <p>
            <%= recommendation.comment %>
          </p>
          <p>
            Valoration: <%= recommendation.valoration %>
          </p>
          <p>
            <%= render "layouts/recommendation_likes", recommendation: recommendation %>
          </p>
        </div>
        <div class="row">
          <% if current_user.recommendations.include?(recommendation) %>
            <%= form_for [recommendation.book, recommendation], method: :delete do |f| %>
              <%= f.submit value: "Delete", class: "btn btn-danger full-width" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if recommendations.size > index + 1 %>
        <hr>
      <% end %>
    <% end %>
  <% else %>
    <p class="lead text-center">
      No recommendations from this user so far!
    </p>
  <% end %>
</div>
