<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="card">
      <%= form_for @user, multipart: true, url: user_path(@user), html: { method: :put } do |f| %>

        <div class="form-group">
          <%= f.label :bio %><br/>
          <%= f.text_area :bio, rows: "6", class: "form-control" %>
        </div>

        <%= f.hidden_field :latitude, id: "latitude" %>
        <%= f.hidden_field :longitude, id: "longitude" %>

        <div class="form-group">
          <%= f.label :location %><br/>
          <%= f.text_field :location, id: "gmaps-autocomplete", name: "location", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :avatar %><br/>
          <%= f.file_field :avatar, id: "avatar" %>
          <p class="help-block">Choose an avatar for you.</p>
        </div>

        <div class="form-group">
          <%= f.submit "Update", data: @user.id, class: "btn btn-primary", id: "submit-profile-edit" %>
        </div>
      <% end %>
    </div>

    <div class="card">
      <label for="">Select the genres you like</label>
      <div>
        <select id="genres-selection" data-user-id="<%= current_user.id %>" multiple="multiple">
          <% Genre.all.each do |genre| %>
            <% if current_user.likes_genre?(genre) %>
                <option selected="selected" value="<%= genre.id %>"><%= genre.name %></option>
              <% else %>
                <option value="<%= genre.id %>"><%= genre.name %></option>
            <% end %>
          <% end %>
        </select>
        <button id="update-genres" type="button" class="btn btn-primary float-right" name="button">Update</button>
      </div>

    </div>

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    profile_update_initialize();
  });
</script>
