<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <%= form_for @user, url: user_path(@user), html: { method: :put } do |f| %>

    <div class="form-group">
      <%= f.label :bio %><br/>
      <%= f.text_area :bio, class: "form-control" %>
    </div>

    <%= f.text_field :latitude %>
    <%= f.text_field :longitude %>

    <div class="form-group">
      <%= f.label :location %><br/>
      <%= f.text_field :location, id: "gmaps-autocomplete", name: "location", class: "form-control" %>

    </div>

    <div class="form-group">
      <%= f.submit "Update", data: @user.id, class: "btn btn-primary btn-block", id: "submit-profile-edit" %>
    </div>
    <% end %>

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    initialize();
  });
</script>
