<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="card card--user">
      <div class="user-header">
        <h1 class="text-center"><%= @user.username %>
          <% if @user.id != current_user.id %>
            <% if @following %>
              <button class="btn btn-primary center-block" data-id="<%= @user.id %>" id="unfollow-user" name="button" type="button">Unfollow</button>
            <% else %>
              <button class="btn btn-primary center-block" data-id="<%= @user.id %>" id="follow-user" name="button" type="button">Follow</button>
            <% end %>
          <% end %>
        </h1>

      </div>

      <div>
        <%= image_tag @user.avatar.url(:square), class: "img-responsive center-block img-circle" %>
      </div>

      <div class="user-content">
        <p class="text-center user-location">
          <span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>
          <%= @user.location %>
        </p>

        <p class="lead text-center">
          <%= @user.bio %>
        </p>
      </div>

    </div>

    <% if @user.id == current_user.id %>
      <%= render "ownerships/ownership_list", ownerships: @user.ownerships %>
    <% else %>
      <%= render "ownerships/offering_list", ownerships: @user.offerings %>
    <% end %>
  </div>
  <div class="col-md-5">
    <%= render "recommendations/recommendations_list", recommendations: @user.recommendations %>
  </div>
</div>



<script type="text/javascript">
  $(document).ready(function () {
    profile_show_initialize();
  });
</script>
