<div class="card card--event row">
  <div class="card--thumbnail">
    <%= image_tag item.user.avatar.url(:square), class: "img-responsive center-block" %>
  </div>

  <div class="card-content">
    <p>
      <%= link_to "#{item.user.username}", user_path(item.user) %>
      offered
      <%= link_to "#{item.book.title}", book_path(item.book) %>

      <ul class="offering-conditions list-unstyled">
        <% if item.to_give_away %>
          <li>to give away</li>
        <% end %>
        <% if item.to_exchange %>
          <li>to exchange</li>
        <% end %>
      </ul>
      <% if item.user.id != current_user.id %>
        <% if current_user.sent_transfers.find_by(ownership_id: item.id) %>
          <p>
            Transfer request sent. Waiting for response.
          </p>
        <% else %>
          <%= form_tag ownership_transfers_path(item), method: "post" do %>
            <%= submit_tag "I want it" , class: "btn btn-primary" %>
          <% end %>
        <% end %>
      <% end %>
    </p>
      <p><%= item.created_at.to_formatted_s(:short) %></p>
  </div>
</div>
