<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag @book.cover.url(:medium), class: "img-responsive center-block" %>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <h1><%= @book.title.titleize %></h1>
          <p class="lead">
            <%= @book.author %>
          </p>
          <p>
            <%= pluralize(@book.offerings_count, "user") %> offer this book.
          </p>
          <div class="center-block">
            <%= link_to "Recommend it", new_book_recommendation_path(@book), class: "center-block btn btn-primary" %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="col-md-5 col-md-offset-1">
    <%= render "ownerships/ownership_users_list", ownerships: @book.offerings %>
  </div>

  <div class="col-md-5">
    <%= render "recommendations/recommendations_comments_list", recommendations: @book.recommendations %>
  </div>
</div>
