<div class="card">
  <h3 class="text-center">Your current books</h3>
  <hr>
  <% if ownerships.any? %>
    <% ownerships.each_with_index do |ownership, index| %>
      <div class="card--item">
        <div class="row">
          <div class="col-xs-5">
            <%= image_tag ownership.book.cover.url(:medium), class: "img-responsive center-block" %>
            <%= form_for [ownership], method: :delete do |f| %>
              <%= f.submit value: "Delete", class: "like-link btn btn-danger center-block full-width" %>
            <% end %>
            <%= link_to "Offer it", "", data: {id: ownership.id}, class: "open-update-ownership btn btn-primary center-block" %>
            <%= link_to "Recommend it", new_book_recommendation_path(ownership.book), class: "btn btn-primary center-block" %>
          </div>
          <div class="col-xs-7">
            <div class="row">
              <h3 class="text-center"><%= link_to ownership.book.title.titleize, book_path(ownership.book) %></h3>
              <p class="text-center">
                by
                <%= ownership.book.author.titleize %>
              </p>
              <p class="text-center">
                <% if ownership.offering? %>
                    Offering:
                    <% if ownership.to_give_away %>
                      - to give away -
                    <% end %>
                    <% if ownership.to_exchange %>
                      - to exchange -
                    <% end %>
                <% else %>
                    not offered
                <% end %>
              </p>
            </div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
              </div>
            </div>
          </div>

        </div>
      </div>
      <% if ownerships.size > index + 1 %>
        <hr>
      <% end %>
    <% end %>
  <% else %>
    <p class="lead text-center">No books offered yet!</p>
  <% end %>
</div>


<div id="update-ownership" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Update offer</h4>
      </div>
      <div class="modal-body">
        <form id="updated-offer">
          <div class="form-group">
            <label for="to-give-away">To give away</label>
            <input type="checkbox" name="to-give-away" value="true">
          </div>
          <div class="form-group">
            <label for="to-exchange">To exchange</label>
            <input type="checkbox" name="to-exchange" value="true">
          </div>
          <input id="updated-offer-submit" type="submit" name="submit" value="Offer" class="btn btn-primary">
        </form>
      </div>
    </div>
<!-- /.modal-content -->
  </div>
<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">
  window.bookOwnershipManager.initUpdate();
</script>
